header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.first-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: rgb(0, 0, 0, 0.3);
}
.social {
  display: flex;
  justify-content: center;

  flex: 1;
}
.social div {
  margin-left: 0.75rem;
}
.search-bar {
  flex: 4;
  text-align: center;
}

.search-bar div input {
  padding: 1rem;
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 20px;
  width: 300px;
}

.search-icon {
  background-color: white;
  margin-left: -1.6rem;
}

.shop {
  flex: 1;
  text-align: center;
}

nav {
  width: 100%;
  background-color: rgb(194, 194, 194, 0.3);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2% 5%;
}
nav .logo {
  cursor: pointer;
}
nav .logo img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: rgb(31, 13, 1);
}

nav .menu ul {
  display: flex;
}
nav .menu ul a {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  transition: all 0.5s ease-in-out;
}
nav .menu ul a::after {
  content: "";
  background-color: lightblue;
  height: 2.5px;
  width: 0;
  display: block;
  transition: all 0.3s ease-in-out;
}
nav .menu ul a:hover::after {
  width: 100%;
}

nav .menu ul a:hover {
  transform: translateY(-5px);
}
nav .menu ul a:active {
  background-color: rgba(205, 205, 205, 0.15);
}
nav .menu ul li {
  list-style: none;
  padding: 0px 10px 0px 10px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
/*Hamburger button animation*/
